GitPython == 2.1.15
aiohttp == 3.6.2
beautifulsoup4==4.9.3
bs4==0.0.1
click == 7.1.2
discord.py @ git+git://github.com/null2264/discord.py.git@de58a6ac63f7fe78351c7cf4e6ee3382ac4bdc27
python_dateutil == 2.8.1
pytz == 2020.1
